body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin: 0;
    background-color: #DFDCE3;
    color: #333333;
}

h2,
h3 {
    color: #42326D;
    margin-top: 20px;
}

#dropzone {
    width: 80%;
    max-width: 500px;
    padding: 20px;
    border: 2px dashed #007D96;
    border-radius: 10px;
    margin: 20px auto;
    text-align: center;
    cursor: pointer;
    color: #007D96;
    background-color: #FFFFFF;
    transition: background-color 0.3s;
}

#dropzone.dragover {
    background-color: #B8E6ED;
}

table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #FFFFFF;
    border-radius: 10px;
    overflow: hidden;
}

th,
td {
    border: 1px solid #333333;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #42326D;
    color: white;
}

select,
button {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    margin: 10px;
}

select {
    background-color: #FFFFFF;
    color: #333333;
    border: 2px solid #007D96;
}

button {
    background-color: #007D96;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #005F70;
}

button:disabled {
    background-color: #CCCCCC;
    cursor: not-allowed;
}

/* Estilo del overlay */
#loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    z-index: 1000;
}

/* Spinner de carga */
.spinner {
    width: 50px;
    height: 50px;
    border: 5px solid #fff;
    border-top-color: transparent;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/* Ajuste del margen superior del contenido */
.content-wrapper {
    margin-top: 10vh;
}