:root {
    --background-color: #DFDCE3;
    --text-color: #333333;
    --header-color: #007D96;
    --footer-color: #007D96;
    --imagen-perfil-color: white;
    --border-color: #ccc;
    --h2-color: #007D96;
    --border-video-color: #7C719C;
    --background-carrusel: white;
  }
  
  /* Estilo para modo oscuro */
  [data-theme="dark"] {
    --background-color: #5f5f5f;
    --text-color: #DFDCE3;
    --header-color: #2c2c2c;
    --footer-color: #2c2c2c;
    --imagen-perfil-color: black;
    --border-color: #363636;
    --h2-color: #DFDCE3;
    --border-video-color: #3b364b;
    --background-carrusel: #505050;

  }


/* Asegurar que el Footer esté siempre al final del contenido */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.content-wrapper {
    flex: 1;
}

/* Estilo del Footer */
.text-center {
    text-align: center;
}

footer {
    background-color: var(--footer-color);
    color: white;
    padding: 20px;
    width: 100%;
}

/* Estilos de los enlaces del footer */
.footer-link {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-size: 16px;
    transition: transform 0.3s ease;
}

.footer-link:hover {
    color: #c300ff;
}

/* Iconos Sociales */
.social-icons {
    margin-top: 10px;
}

.social-icons a {
    font-size: 20px;
    margin: 0 10px;
    transition: transform 0.3s ease-in-out;
}

.social-icons a:hover {
    transform: scale(1.2);
}
