/* Estilos generales para html y body */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

/* Contenedor del contenido principal */
/* Agrega un padding-bottom para evitar que el contenido quede tapado por el footer */
.content-wrapper {
    padding-bottom: 80px; /* Ajusta este valor según la altura de tu footer */
}

/* Estilo del Footer */
.text-center {
    text-align: center;
}

footer {
    position: fixed; /* Fija el footer en la ventana */
    bottom: 0;
    left: 0;
    background-color: #007d96;
    color: white;
    padding: 20px;
    width: 100%;
    z-index: 1000; /* Asegura que se superponga sobre otros elementos */
}

/* Estilos de los enlaces del footer */
.footer-link {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-size: 16px;
    transition: transform 0.3s ease;
}

.footer-link:hover {
    color: #c300ff;
}

/* Iconos Sociales */
.social-icons {
    margin-top: 10px;
}

.social-icons a {
    font-size: 20px;
    margin: 0 10px;
    transition: transform 0.3s ease-in-out;
}

.social-icons a:hover {
    transform: scale(1.2);
}
