:root {
    --background-color: #DFDCE3;
    --text-color: #333333;
    --header-color: #007D96;
    --footer-color: #007D96;
    --imagen-perfil-color: white;
    --border-color: #ccc;
    --h2-color: #007D96;
    --border-video-color: #7C719C;
    --background-carrusel: white;
  }
  
  /* Estilo para modo oscuro */
  [data-theme="dark"] {
    --background-color: #5f5f5f;
    --text-color: #DFDCE3;
    --header-color: #2c2c2c;
    --footer-color: #2c2c2c;
    --imagen-perfil-color: black;
    --border-color: #363636;
    --h2-color: #DFDCE3;
    --border-video-color: #3b364b;
    --background-carrusel: #222222;

  }

body, html {
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.content-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 75vh;
    transition: margin-top 0.3s ease-in-out;
}

.header {
    height: 8vh;
    background-color: var(--header-color);
    padding: 1vh 2vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 1000;
}

.imagen-perfil {
    width: 4vh;
    height: 4vh;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    border: 0.2vh solid white;
}

.perfil {
    display: flex;
    align-items: center;
    margin-left: 1.5vw;
}

/* Estilos del menú hamburguesa */
.navbar-toggler {
    border: none;
    background: transparent;
    font-size: 2vh;
    color: white;
    cursor: pointer;
    margin-right: 2vw;
}

.menu {
    display: none;
    width: 100%;
    text-align: center;
    background-color: var(--header-color);
    padding: 1vh;
    position: absolute;
    top: 8vh;
    left: 0;
    z-index: 999;
}

.menu.active {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    animation: fadeIn 0.3s ease-in-out;
    height: auto;
    width: 100%;
}

.menu ul {
    display: flex;
    flex-direction: row;
    gap: 2vw;
    padding: 0;
    list-style: none;
}

.menu ul li {
    list-style: none;
}

.menu ul li a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding: 1vh;
}

/* Hace que el contenido baje cuando el menú está activo */
.menu.active + .content-wrapper {
    margin-top: 6vh;
}

/* Animación de entrada */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-1vh);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Responsive */
@media (min-width: 769px) {
    .menu {
        display: flex !important;
        position: static;
        width: auto;
        padding: 0;
        background: none;
    }

    .navbar-toggler {
        display: none;
    }

    .menu ul {
        flex-direction: row;
        gap: 2vw;
    }

    .menu ul li {
        margin: 0;
    }
}
