:root {
    --background-color: #DFDCE3;
    --text-color: #333333;
    --header-color: #007D96;
    --footer-color: #007D96;
    --imagen-perfil-color: white;
    --border-color: #ccc;
    --h2-color: #007D96;
    --border-video-color: #7C719C;
    --background-carrusel: white;
    --table-color: white;
    --border-table: #2c2c2c;

  }
  
  /* Estilo para modo oscuro */
  [data-theme="dark"] {
    --background-color: #5f5f5f;
    --text-color: #DFDCE3;
    --header-color: #2c2c2c;
    --footer-color: #2c2c2c;
    --imagen-perfil-color: black;
    --border-color: #363636;
    --h2-color: #DFDCE3;
    --border-video-color: #3b364b;
    --background-carrusel: #505050;
    --table-color: #2c2c2c;
    --border-table: white;
  }


/* GENERAL */
body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* CONTENEDOR PRINCIPAL */
main {
    flex: 1;
}
table{
    background-color: var(--table-color);
    color: var(--text-color);
}

.gauge-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 10vh;
    /* 🔹 Reducimos la altura para que sea más compacto */
    padding: 0px;
}

.gauge-chart {
    width: 100%;
    height: 100%;
}