/* GENERAL */
body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
}

/* CONTENEDORES DE PRODUCTOS Y PLANES */
h2 {
    color: var(--h2-color);
}

.card {
    margin-bottom: 20px;
}

.review-container {
    max-width: 600px;
    margin: 10px auto;
    background: var(--background-carrusel);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.review-user {
    font-weight: bold;
    color: var(--text-color);
}